<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>829478865658-hnf68k8eqks759ot2l4ea2kgnridvdhl.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.829478865658-hnf68k8eqks759ot2l4ea2kgnridvdhl</string>
    <key>API_KEY</key>
    <string>AIzaSyBl1iuzcMILrm_09nvRnsfYAN4_XoV_1q4</string>
    <key>GCM_SENDER_ID</key>
    <string>829478865658</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.sprive.mobile.ios</string>
    <key>PROJECT_ID</key>
    <string>sprive-6c737</string>
    <key>STORAGE_BUCKET</key>
    <string>sprive-6c737.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:829478865658:ios:b7f0c1af2442d2f28e9743</string>
    <key>DATABASE_URL</key>
    <string>https://sprive-6c737.firebaseio.com</string>
</dict>
</plist>